@charset="UTF-8";

h1{
	color: #050707;
	font-family: arial;
	font-size: 20pt;
}

h2{
	color: #050707;
	text-align: center;
	font-family: arial;
	font-size: 15pt;
}

h3{
	color: #050707;
	font-family: arial;
	font-size: 11pt;
	float: right;
	text-align: left;
	width: 115px;
}

p{
	padding-left: 10px;
	color: #050707;
	font-family: arial;
	font-size: 13pt;
}

a{
	text-decoration: none;
	color: #050707;
}

img{
	width: 120px;
	padding-left: 5px;
	padding-bottom: 5px;

}
/*layout da pagina*/

body{
	background-color: #54608a;
	width: 97%;
	height: 100%;
	padding: 1%;
}

div#interface{
	position: relative;
}

header#cabecalho{
	background-color: #D8D8C3;
	text-align: center;
	border-style: double;
	border-color: #F5C255;
}

aside#borda-direita{
	background-color: #D8D8C3;
	margin-top: 10px;
	float: right;
	width: 250px;
	height: 500px;
	border-style: double;
	border-color: #F5C255;
}

div#centro{
	background-color: #D8D8C3;
	display: fixed;
	margin: 10px auto;
	border-style: double;
	border-color: #F5C255;
	width: 600px;
	height: 500px;
}	


aside#borda-esquerda{
	background-color: #D8D8C3;
	margin-top: 10px;
	float: left;
	width: 250px;
	height: 500px;
	border-style: double;
	border-color: #F5C255;
}

footer#rodape{
	text-align: center;
	position:absolute;
	bottom: 0;
	width: 97%;
}